* {
	margin: 0px;
	padding: 0px;
	
}

h1{
	font: bold 20px Raleway;
}

h2{
	font: bold 14px Raleway;
}

header, section, footer, aside, nav, article, hgroup{
	display:block;
}

body {
	text-align: center;
}

#bigWrapper {
	border: 1px solid blue;
	width: 1000px;
	margin: 20 px auto;
	text-align: left;
}

#topHeader {
	background: -webkit-linear-gradient(left, red, orange, yellow, green, blue, purple);
	border: 1px solid red;
	padding: 20px;
	-webkit-transition: -webkit-transform 2s;
}

#topHeader:hover {
	-webkit-transform: rotate(720deg);
	color: black;
}
	
#topMenu {
	background: green;
	color: green;
	
}

#topMenu  li {
	display: inline-block;
	list-style: none;
	padding: 5px;
	font: bold 14px Raleway;
	background: blue;
	-webkit-border-radius: 3px;
	-webkit-transition: -webkit-transform .5s;
}


#topMenu li:hover {
	-webkit-transform: scale(1.2, 1.2);
	color: red
}


#mainSection {
	float: left;
	width: 660px;
	margin: 30px; /* 720 total pixels, 280 left*/
}

#mainSection > p {
	text-shadow: black 1px 1px 3px;
}


#sideNews {
	float: left;
	width: 220px;
	margin: 20px 0px;
	padding: 30px;
	background: -webkit-radial-gradient(center, circle, blue 20%, #66CCCC 80%);
	-webkit-transition: -webkit-transform 1.5s;
}

#sideNews:hover{
	-webkit-transform: scale(1.3,1.3) rotate(720deg);
}

#pagefooter {
	clear: both;
	text-align:center;
	padding: 20px;
	border-top: 2px solid green;
}

#pagefooter:hover{
	-webkit-transform: scale(1.5,1.5);
}

article {
	background: -webkit-radial-gradient(center, circle, blue 20%, green 80%);
	border: 1px solid purple;
	padding: 20px;
	margin-bottom: 15px;
	-webkit-transition: -webkit-transform .5s;
}

article:hover{
	-webkit-transform: scale(1.1,1.1)
}

article > footer {
	text-align: right;
}


